### <font color="brown">Lists</font>

---

#### <font color="brown">Indexing/membership, slicing, striding</font>

**Indexing/Membership**

In [1]:
# accessing list elements with [index] syntax
listofstrings = ['cs', 'ee', 'math']
listofstrings[0]

'cs'

In [2]:
# index=0 for 1st element, 1 for second, (n-1) for nth
listofreals = [1.2, 3, 6.8, -12]
listofreals[3]

-12

In [3]:
# in a list of lists
alst = [1,2,3,[4,5,6],[7,8],10,11]
alst[4]

[7, 8]

In [4]:
alst[3][1]

5

In [5]:
# membership in list
6 in alst

False

In [6]:
[7,8] in alst

True

**Negative Indexes**

In [7]:
lst = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
nine = lst[-1] # negative index starts from the end, -1 is last
eight = lst[-2] # -2 is second to last
print(f'nine={nine}, eight={eight}')
lst[1] = 11
print(lst)

nine=9, eight=8
[0, 11, 2, 3, 4, 5, 6, 7, 8, 9]

**Slices**

In [8]:
# slices of list
second_thru_fourth = lst[1:4]  # from index 1 to index 3 -> [11,2,3]
print(second_thru_fourth)

[11, 2, 3]

In [1]:
first_three = lst[:3]  # start index defaults to 0, so 0..2
print(first_three)

NameError: name 'lst' is not defined

In [10]:
last_three = lst[-3:]
print(last_three)

[7, 8, 9]

In [11]:
without_first_and_last = lst[1:-1]
print(without_first_and_last)

[11, 2, 3, 4, 5, 6, 7, 8]

In [12]:
# the entire list
print(lst[:])  # same as print(lst)

[0, 11, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
# extract a sublist
listofstrings = ['cs', 'ee', 'math', 'stats', 'psych']
sublist = listofstrings[2:4]
print(sublist)

['math', 'stats']

**Stride with slice**

In [14]:
# using a stride with a slice
every_third = lst[::3]
print(every_third)

[0, 3, 6, 9]

In [15]:
# stride backward with negative stride value
eight_to_two = lst[8:0:-2]   # stops short of 0, so going backward, last index would be 2
print(eight_to_two)

[8, 6, 4, 2]

---

#### <font color="brown">Concatenation, extending, appending, unpacking</font>

**Concatenate with '+' operator**

In [16]:
xx = [1,2,3]
yy = xx + [4,5,6,7]  # produces a new list, xx is unchanged
print(f'yy = {yy}')
print(f'xx = {xx}')

yy = [1, 2, 3, 4, 5, 6, 7]
xx = [1, 2, 3]

**Method extend**

In [17]:
xx = [1,2,3]
xx.extend([4,5,6,7])  # concatenate a list to xx
print(xx)

[1, 2, 3, 4, 5, 6, 7]

In [18]:
xx = [1,2,3]
xx.extend([4])
xx

[1, 2, 3, 4]

**extend only takes iterables as argument**

In [19]:
xx.extend("abc")
print(xx)

[1, 2, 3, 4, 'a', 'b', 'c']

**Method append**

In [20]:
x = [1,2,3]
x.append(4)   # can append non-iterable
print(x)

[1, 2, 3, 4]

In [21]:
x.append([4,5])  
print(x)
len(x)

[1, 2, 3, 4, [4, 5]]

5

**Unlike extend, append tacks on the entire argument list as a single item**

**Unpacking a list**

In [22]:
a,b = [4,6]   # unpacking a list into variables
print(a,',',b)

4 , 6

In [23]:
# you don't care for the first returned
_, b = [4,6]
print(b)

6

**Extracting chunks of items using '*' unpacking operator**

In [24]:
mylst = [5,4,-3,6,1,-7,3,8]
first,*rest = mylst
print(first)
print(rest)

5
[4, -3, 6, 1, -7, 3, 8]

In [25]:
first,*rest,last = mylst
print(first)
print(rest)
print(last)

5
[4, -3, 6, 1, -7, 3]
8

In [26]:
mylst = [5,4,-3,6,1,-7,3,8]
abc, allelse = mylst
print(abc)
print(allelse)

ValueError: too many values to unpack (expected 2)

**above doesn't work because the LHS unpacking must cover the entire list on RHS**

---

#### <font color="brown">Other useful list methods</font>

**count**

In [27]:
# count
clst = ['a','b','a','c','d','a','b','f']
clst.count('a')

3

**index**

In [28]:
# find position
print(clst.index('c'))
print(clst.index('a',3))  # find 'a', starting at index 3

3
5

In [31]:
clst[::-1].index('a')  # finds last occurrence of 'a' in original list

2

In [32]:
print(clst.index('z'))

ValueError: 'z' is not in list

In [33]:
try:
    res = clst.index('a',3,5)  # starting at 3, ending at 4
    print('a is in list extent')
except:
    print('a is not in list extent')

a is not in list extent

**insert**

In [34]:
clst.insert(2,'x')  # insert at index 2
print(clst)

['a', 'b', 'x', 'a', 'c', 'd', 'a', 'b', 'f']

In [35]:
clst.insert(len(clst),'z')  # insert at end
print(clst)

['a', 'b', 'x', 'a', 'c', 'd', 'a', 'b', 'f', 'z']

**remove**

In [36]:
# remove
try:
    print("removing 'b'")
    clst.remove('b')
    print(clst)
    print("removing 'y'")
    clst.remove('y')
    print(clst)
except ValueError as err:
    print(err)
    print('item not in list')

removing 'b'
['a', 'x', 'a', 'c', 'd', 'a', 'b', 'f', 'z']
removing 'y'
list.remove(x): x not in list
item not in list

In [37]:
# removing all occurrences of 'b' from clst, Version 1
clst = ['a','b','a','c','d','a','b','f']
while True:
    try:
        clst.remove('b')
    except:
        break
print(clst)

['a', 'a', 'c', 'd', 'a', 'f']

In [38]:
# removing all occurrences of 'b' from clst, Version 2
clst = ['a','b','a','c','d','a','b','f']
for _ in range(clst.count('b')):
    clst.remove('b')
print(clst)

['a', 'a', 'c', 'd', 'a', 'f']

In [39]:
# removing all occurrences of 'b' from clst, Version 3
clst = ['a','b','a','c','d','a','b','f']
while 'b' in clst:
    clst.remove('b')
print(clst)

['a', 'a', 'c', 'd', 'a', 'f']

**reverse**

In [40]:
# reverse
print(clst)
clst.reverse()
print(clst)

['a', 'a', 'c', 'd', 'a', 'f']
['f', 'a', 'd', 'c', 'a', 'a']

---

#### <font color="brown">Enumeration</font>

In [41]:
for item in enumerate([1,2,3]):
    print(item)

(0, 1)
(1, 2)
(2, 3)

In [42]:
for x, y in enumerate([1,2,3]):
    print(x,',',y)

0 , 1
1 , 2
2 , 3

In [43]:
for item in enumerate(range(2,5,2)):
    print(item)

(0, 2)
(1, 4)

---

### <font color="brown">Tuples</font>

In [44]:
atup = (2,4)
print(atup)

(2, 4)

In [45]:
atup2 = 2,4
print(atup2)

(2, 4)

In [46]:
atup = tuple((2,4))

In [47]:
atup[1]

4

In [48]:
stup = tuple('abcde')
stup

('a', 'b', 'c', 'd', 'e')

In [49]:
ltup = tuple([1,[3,2],5])
ltup

(1, [3, 2], 5)

**Tuples are immutable, cannot be modified**

In [50]:
atup[1] = 5

TypeError: 'tuple' object does not support item assignment

**Using tuples for multiple assignments**

In [51]:
# can use tuples for multiple assignments
a,b = 3,2
print(a,',',b)

3 , 2

**Swapping 2 vars is trivial using tuples**

In [52]:
a,b = b,a
print(a,',',b)

2 , 3

---

#### <font color="brown">Strings as sequence (iterable) type</brown>

In [53]:
# strings are sequence types, just like lists and tuples
ds = 'Data Science'
print(ds[5:])  # ds[0] = 'D', ds[1] = 'a', ... ds[4] = ' ' (space)
print(ds[:4])
print(len(ds))
print(ds[ds.find('S'):])

Science
Data
12
Science

In [54]:
# tell if a string is a palindrome - Version 1
def isPalindrome(str):
    while True:
        n = len(str)
        if n == 0 or n == 1:
            return True
        if str[0].lower() != str[-1].lower():
            return False
        str = str[1:-1]

In [55]:
print(isPalindrome(""))
print(isPalindrome("A"))
print(isPalindrome("Abc"))
print(isPalindrome("Abba"))
print(isPalindrome("raceCar"))
print(isPalindrome("abcd"))

True
True
False
True
True
False

In [56]:
# tell if a string is a palindrome - Version 2, using unpacking with * operator (similar to unpacking a list)
def isPalindrome2(str):
    str = str.lower()
    while True:
        n = len(str)
        if n == 0 or n == 1:
            return True
        f,*str,l = str
        if f != l:
            return False

In [57]:
print(isPalindrome2("Abc"))
print(isPalindrome2("Abba"))
print(isPalindrome2("raceCar"))

False
True
True

In [58]:
# tell is a string is a palindrome - Version 3 using slicing to reverse
def isPalindrome3(str):
    return str.lower() == str.lower()[::-1]

In [59]:
print(isPalindrome(""))
print(isPalindrome("A"))
print(isPalindrome("Abc"))
print(isPalindrome("Abba"))
print(isPalindrome("raceCar"))
print(isPalindrome("abcd"))

True
True
False
True
True
False

In [60]:
"raceCar".reverse()

AttributeError: 'str' object has no attribute 'reverse'

**String doesn't have a reverse method**