### <font color="brown">Python Basics</brown>

---

#### <font color="brown">Constants, Variables, Printing</brown>

In [17]:
3

3

In [2]:
3+3

6

In [3]:
x=3+3

**In Notebook, simply typing the name of a variable will print its value<br>
But in Python code written in a file outside of Notebook/Python console, you must use the print function**

In [4]:
x

6

In [5]:
print(x)

6

In [6]:
type(x)

int

**Sometimes it's useful to find out the type of a variable (since you don't declare the type of a variable at the outset)**

In [7]:
y=x+6

In [8]:
print(y)

12

In [9]:
a=2
p=2*2

In [10]:
print(a,p)

2 4

You can string together variables, constants, and literals in a print call<br>
Literals can be enclosed in single or double quotes, makes no difference

In [11]:
print(a, ',', p)
print(a, ",", p)

2 , 4
2 , 4

Which means, to literally print a single quote you will need to enclose it in double quotes, and vice versa

In [12]:
print("'")

'

In [13]:
print('"')

"

Division can be done in one of two ways, with a real number result, or an integer result (fractional part truncated)

In [14]:
3/2 # real number result

1.5

In [15]:
3 // 2  # integer result, fractional part truncated

1

In [16]:
3/0

ZeroDivisionError: division by zero

In [1]:
7 % 2 # modulus function, gives remainder of 15 divided by 4

1

Modulus can be used on real numbers as well, and divisor can be an integer or real number

In [18]:
7.4 % 5

2.4000000000000004

In [2]:
2.4 % 1.2

0.0

In [3]:
2.4 % 1.1

0.19999999999999973

---

#### <font color="brown">Arithmetic expressions, math functions</font>

In [ ]:
2 + 3 * 5  # * (and /) precede + (and -)

In [ ]:
(2+3) * 5

In [4]:
3 ** 2 # power

9

In [5]:
3 ** 2.2

11.211578456539659

In [2]:
-3 ** 2

-9

In [6]:
-3.2 ** 1.5

-5.7243340223994625

In [ ]:
3 ** -2

**Casting**

In [7]:
# real to int
x = int(5.5)
x

5

**Using the math module**

In [ ]:
import math

print(math.pow(3,2))
print(math.pow(3,3))

In [ ]:
print(math.pow(-3.2,2))

In [ ]:
print(math.pow(2,0.5))  # square root of 2

In [ ]:
print(math.pow(-1,0.5)) # square root of -1?

For math.pow(x,y), if x is negative and y is not an integer, then pow is undefined and raises an error.<br>
See Help -> Python Reference -> math.pow

---

#### <font color="brown">Strings</font>

In [ ]:
wr = 'wrangle'
print(wr)

**Can use either single or double quotes for strings.<br>
You can create a multi-line string using three double quotes as delimiters**

In [8]:
# multi line string with three double quotes
multi_line = """line 1,
line2, and
line 3"""
print(multi_line)

line 1,
line2, and
line 3

**Alternatively, you can use the newline character \n to introduce new lines, like in Java or C**

In [ ]:
multi_line

In [3]:
lines = 'line 1,\nline2, and\nline 3'
print(lines)

line 1,
line2, and
line 3

In [ ]:
lines2 = 'line 1
line2, and
line3'

**And you can use the tab character \t to introduce tabs**

In [9]:
tabbed_str = 'before tab\tand after tab'

In [10]:
print(tabbed_str)

before tab	and after tab

In [11]:
tabbedStr = 'before\tafter'
print(tabbedStr)

before	after

**Concatenate strings using +**

In [12]:
print("cs" + "210")

cs210

In [13]:
print("cs" + 210)

TypeError: can only concatenate str (not "int") to str

**But you can't directly concatenate non-string parts - you need to use str function to convert to string first**

In [4]:
print("cs"+str(210))

cs210

In [5]:
cs210 = "cs" + str(210)
cs210

'cs210'

**When you use a number as first operand for +, it thinks you are adding (not concatenating to a string)**

In [16]:
x = 5 + 'y'
x

TypeError: unsupported operand type(s) for +: 'int' and 'str'

**Replicating a string**

In [17]:
'abc'*3

'abcabcabc'

---

#### <font color="brown">Formatting printed output</font>

**1. Using the format function**

In [18]:
m=15
n=10
print("{0}/{1} = {2}".format(m,n,m/n))

15/10 = 1.5

**2. Using the f-string**

In [19]:
print(f'{m}/{n} = {m/n}')

15/10 = 1.5

---

#### <font color='brown'>Parsing numeric value from string, querying the type of a value</font>

In [6]:
x=int('5')
print(x)
type(x)

5

int

In [21]:
y = float('-5.5')
print(y)
type(y)

-5.5

float

In [22]:
z = double('8.66667777')
print(z)
type(z)

NameError: name 'double' is not defined

There is no double type in Python, but float is equivalent to double

In [7]:
float('abc')

ValueError: could not convert string to float: 'abc'

In [8]:
abctype = type('abc')
type(abctype)

type

In [25]:
print(type('abc') == type(x))

False

---

#### <font color="brown">Boolean values and expressions</font>

In [26]:
tr = True
fl = False
print(tr,',',fl)

True , False

In [27]:
type(tr)

bool

In [28]:
2 == 3

False

In [29]:
res = 2 == 3
print(res)
type(res)

False

bool

In [30]:
2 != 3

True

In [31]:
num1 = 9
num2 = -10
num3 = 15

In [32]:
res = num3 > 0
print(res)

True

In [33]:
num1 > 0 and num2 > 0

False

In [34]:
num1 > 0 or num2 > 0

True

In [35]:
num1 < 0 or num3 < 0

False

In [36]:
not num1 < 0

True

In [37]:
not (num1 < 0)

True

**Precedence of boolean operators: not first, then and, then or in that order**

In [38]:
num1 = 9
num2 = -10
num3 = 15

In [39]:
not num1 < 0 or num2 < 0

True

In [40]:
not (num1 < 0 or num2 < 0)

False

In [41]:
num1 < 0 and num3 < 0 or num2 < 0

True

In [42]:
num1 < 0 and (num3 < 0 or num2 < 0)

False

---

#### <font color="brown">Functions</font>

In [43]:
# function definition
def double(x):
    return x*2

In [44]:
# call the function
a = 5
adoub = double(a)
doub7 = double(7)
print(adoub,',',doub7)

10 , 14

**We will get more into functions next lecture**

---

#### <font color="brown">String methods</font>

Explore strings in Python documentation: Help -> Python Reference, then enter **string** in the search field<br>
Click on the first link - string - in the search results<br>
On the resulting page, click on String Methods in the yellow box at the top<p>

A method is a function that is applied on an existing string

In [45]:
"myfile.ipynb".endswith('ipynb')

True

In [46]:
"myfile.ipynb".startswith("my")

True

In [47]:
"myfile.ipynb".startswith("My")  # case sensitive!

False

In [48]:
str = "This is a sentence."
str.find("ten")

13

In [49]:
str.find("tense")

-1

find returns -1 if not found in target

In [50]:
str.isalpha() # This will be false because there is a period at the end

False

In [51]:
res = "abcd".isalpha()
print(res)
res = "".isalpha()  # if string is empty, returns false
print(res)
res = "hey!".isalpha() # exclamation point is not a letter
print(res)

True
False
False

In [52]:
# check if all digits
res = "1234".isdigit()
print(res)
res = "848-123-4456".isdigit()
print(res)

True
False

In [53]:
# replace
res = "01/25/2021".replace("/","-")
print(res)

01-25-2021

In [58]:
res = "This&that&the other".replace("&"," and ")
print(res)
res = "This&that&the other".replace("&"," and ", 1)  # only replace first occurence. if it was 2, then it would first two occurences
print(res)

This and that and the other
This and that&the other

In [59]:
"  There's fluff at either end  ".strip()

"There's fluff at either end"

In [60]:
str = "Strip out ;,!"
newstr = str.strip(";,!")
print(newstr)

Strip out

In [61]:
newstr = str.strip(";!")
print(newstr)

Strip out ;,

**The strip method starts from the end of the string, and proceeds character by character.<br>
If the character is in the strip argument list, it is stripped out. <br>
If not, the method stops.**

In [62]:
str(5)

TypeError: 'str' object is not callable

**<font color="red">Beware! We used str as a variable, which hides the Python str function.<br>
So now when we use the str function, it won't work because it tries to apply 5 to the str object,<br>
which of course is not possible</font>**